*{
    box-sizing: border-box;
}
.nav li a{
    color: #000;
}
.nav li a:hover{
    color: #FA4A0C;
}
.nav li a:focus{
    color: #FA4A0C;
}
.main-bg{
    background-image: url(./bgimg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 616px;
}
.main_text1{
    font-family: 'Montserrat';
}
.main_text2{
    font-family: 'Poppins';
}

.main_text3{
    font-family: 'Montserrat';
}


.bg_button{
    font-family: 'Montserrat';
    font-size: 24px;
    box-sizing: border-box;
    border: 1px solid #FFFFFF; 
    background-color: transparent; 
    color: #FFFFFF;
    border-radius: 30px;
}
.bg2_button{
    font-family: 'Montserrat';
    font-size: 24px;
    box-sizing: border-box;
    border: 1px solid #FFFFFF; 
    background-color: transparent; 
    color: #FFFFFF;
    border-radius: 10px;
}
.bg_button:focus{
    background-color: #FA4A0C;
    border: 1px solid #FA4A0C;
    box-shadow: 0px 10px 30px rgba(183, 50, 39, 0.2);
}
.bg2_button:focus{
    background-color: #FA4A0C;
    border: 1px solid #FA4A0C;
    box-shadow: 0px 10px 30px rgba(183, 50, 39, 0.2);
}
.bg2{
    background-image: url(./Rectangle\ 47.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 516px;
}
